<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.kantinmaitreya.meilvin">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        tools:targetApi="m">
        <activity android:name="com.kantinmaitreya.meilvin.splashscreen.SplashcreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="com.kantinmaitreya.meilvin.login.LoginActivity"/>
        <activity android:name="com.kantinmaitreya.meilvin.serversetting.ServerActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kantinmaitreya.meilvin.login.LoginActivity"/>
        </activity>
        <activity android:name="com.kantinmaitreya.meilvin.dashboard.DashboardActivity"/>
        <activity android:name="com.kantinmaitreya.meilvin.changepassword.ChangePasswordActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kantinmaitreya.meilvin.dashboard.DashboardActivity"/>
        </activity>
        <activity android:name="com.kantinmaitreya.meilvin.scan.MorningScanActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kantinmaitreya.meilvin.dashboard.DashboardActivity"/>
        </activity>
        <activity android:name="com.kantinmaitreya.meilvin.scan.NoonScanActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kantinmaitreya.meilvin.dashboard.DashboardActivity"/>
        </activity>
        <activity android:name="com.kantinmaitreya.meilvin.scan.MorningActiveScanActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kantinmaitreya.meilvin.dashboard.DashboardActivity"/>
        </activity>
        <activity android:name="com.kantinmaitreya.meilvin.scan.NoonActiveScanActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kantinmaitreya.meilvin.dashboard.DashboardActivity"/>
        </activity>
        <activity android:name="com.kantinmaitreya.meilvin.scan.MorningNonActiveScanActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kantinmaitreya.meilvin.dashboard.DashboardActivity"/>
        </activity>
        <activity android:name="com.kantinmaitreya.meilvin.scan.NoonNonActiveScanActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kantinmaitreya.meilvin.dashboard.DashboardActivity"/>
        </activity>
        <activity android:name="com.kantinmaitreya.meilvin.scan.MorningNormalScanActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kantinmaitreya.meilvin.dashboard.DashboardActivity"/>
        </activity>
        <activity android:name="com.kantinmaitreya.meilvin.scan.MorningJumboScanActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kantinmaitreya.meilvin.dashboard.DashboardActivity"/>
        </activity>
        <activity android:name="com.kantinmaitreya.meilvin.scan.NoonNormalScanActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kantinmaitreya.meilvin.dashboard.DashboardActivity"/>
        </activity>
        <activity android:name="com.kantinmaitreya.meilvin.scan.NoonJumboScanActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kantinmaitreya.meilvin.dashboard.DashboardActivity"/>
        </activity>
        <activity android:name="com.kantinmaitreya.meilvin.student.StudentListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kantinmaitreya.meilvin.dashboard.DashboardActivity"/>
        </activity>
        <activity android:name="com.kantinmaitreya.meilvin.register.StudentRegisterActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kantinmaitreya.meilvin.dashboard.DashboardActivity"/>
        </activity>
        <activity android:name="com.kantinmaitreya.meilvin.report.ReportActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kantinmaitreya.meilvin.student.StudentListActivity"/>
        </activity>
        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="fullSensor"
            tools:replace="screenOrientation"/>
    </application>
</manifest>